
/* CSS */
/*	En CSS se pueden trabajar de dos formas, la primera es específicar el style dentro del documento html en un apartado <style></style>,
	el segundo método y más utilizado, especificando los estilos en un documento a parte, como un stylesheet.css */


/* APUNTE */
/* Las dos formas, tanto la de style y la de <style></style>, se tiene que evitar y siempre ponerlas en un archivo aparte. 
Los buscadores como google y bing tienen en cuenta que tengas pocas o ninguno de estos elementos en tu web.
Si abusas de estos elementos te penalizan. */

/* Aquí aplicamos color a un título de html desde el propio html. */
<h2 style="color: blue;">CatPhotoApp</h2>

/* 	Incluyendo formato CSS dentro del html file.
	Para ello debemos crear un apartado <style> en la parte superior de nuestro código, */
<style></style>

/*  Para aplicar colores, por ejemplo a un título, únicamente debemos abrir un apartado para el elemento en cuestión dentro de nuestro stylesheet.
	En este ejemplo aplicamos el color azul a un h2, si tenemos un id diferente asignado a nuestro elemento, debemos poner el id y no el elemento,
	con esto podemos referirnos a un elemento en concreto y no al conjunto entero del mismo tipo. */
h2{
color: blue;
}	

/*	Para aplicar un estilo en un elemento html le añadiremos la etiqueta class= con el nombre que queramos darle. Una vez aplicado, en nuestro css 
	crearemos un apartado como de costumbre, pero en este caso con el propio nombre que le hemos dado.
	Esto se aplicará a todos los elementos que contengan el class en cuestión. */
<h2 class="red-text">CatPhotoApp</h2> /* HTML */

.red-text {			/* CSS */
    color: red;
  }

/* En este caso vamos a específicar el tamaño de fuente, utilizaremos la etiqueta font-size */
h2 {		
    font-size: 33px;
  }

/* Si queremos asignar un tipo de fuente, utilizaremos la función font-family para asignar el tipo de fuente que queremos utilizar. */
 h2 {
  font-family: sans-serif;
} 

/* 	Existe la opción de utilizar una fuente que no tenemos descargada, y utilizarla al vuelo desde google fonts. 
	Para ello, añadiremos la fuente con el siguiente código antes de la etiqueta style, añadiendo el link a la fuente después de href. 
	Una vez añadido, nos referiremos a la fuente, en la propiedad font-family con normalidad. */
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css"> 
